/* font */

@font-face {
	font-family: "Tahoma Bold";
	src: url(assets/font/tahomabd.ttf);
}

@font-face {
	font-family: "Georgia";
	src: url(assets/font/georgia.ttf);
}

@font-face {
	font-family: "Century Gothic";
	src: url(assets/font/CenturyGothic.ttf);
}

@font-face {
	font-family: "Georgia Italic";
	src: url(assets/font/georgiai.ttf);
}

@font-face {
	font-family: "Georgia Bold";
	src: url(assets/font/georgiab.ttf);
}

/* global stylesheet */
body {
	margin: 0px auto;
	min-width: 1024px;
	text-align: center;
}

.box-container {
	background-repeat: no-repeat;
	background-position: center;
	margin: 0px auto;
}

.wrap {
	width: 1024px;
	height: 100%;
	margin: 0px auto;
	position: relative;
}

.text-transparent {
	opacity: 0.65;
}

.section-title {
	top: 54px;
	position: absolute;
	left: 0px;
	height: 40px;
	width: 100%;
}

.section-mark {
	position: absolute;
	top: 5px;
	left: 0px;
	width: 8px;
	height: 25px;
	background-color: #006378;
}

.section-line {
	width: 100%;
	height: 1px;
	top: 39px;
	position: absolute;
	background-color: #9ba3a5;
}

.section-title-text {
	text-align: left;
	padding-left: 25px;
	font-family: "Georgia";
	color: #333333;
	font-size: 24px;
}

/* banner stylesheet */
#banner {
	max-width: 1920px;
	height: 138px;
	margin: 0px auto;
	position: relative;
}

#banner .logo {
	background-image: url(assets/image/6/logo.png);
	width: 63px;
	height: 57px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 55px;
	left: 36px;
}

#banner .logo-gpex {
	background-image: url(assets/image/5/GPEX_logo.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 56px;
	left: 87px;
	width: 218px;
	height: 65px;
}

#banner .cp-name {
	font-family: "Tahoma Bold";
	font-size: 30px;
	color: #333333;
	left: 119px;
	bottom: 33px;
	position: absolute;
}

#banner .lang-en {
	background-image: url(assets/image/6/flag_England.jpg);
	width: 45px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	bottom: 43px;
	right: 40px;
}

#banner .lang-cn {
	background-image: url(assets/image/6/flag_china.jpg);
	width: 45px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	bottom: 43px;
	right: 95px;
}

#banner .nav {
	background-repeat: no-repeat;
	background-position: left;
	position: absolute;
	bottom: 38px;
	text-align: left;
	font-family: "Georgia";
	font-size: 18px;
}

#banner .home {
	background-image: url(assets/image/6/nav_icon_home_unpressed.png);
	background-size: 20px 18px;
	min-height: 18px;
	min-width: 20px;
	right: 995px;
	padding-left: 30px;
	color: #333333;
	cursor: pointer;
}

#banner .home-selected {
	background-image: url(assets/image/6/nav_icon_home_pressed.png);
	background-size: 20px 18px;
	min-height: 18px;
	min-width: 20px;
	right: 995px;
	padding-left: 30px;
	color: #f96700;
}

#banner .research {
	background-image: url(assets/image/6/nav_icon_quantamental_unpressed.png);
	background-size: 15px 18px;
	min-height: 18px;
	min-width: 15px;
	right: 750px;
	padding-left: 25px;
	color: #333333;
	cursor: pointer;
}

#banner .research-selected {
	background-image: url(assets/image/6/nav_icon_quantamental_pressed.png);
	background-size: 15px 18px;
	min-height: 18px;
	min-width: 15px;
	right: 750px;
	padding-left: 25px;
	color: #f96700;
}

#banner .investing {
	background-image: url(assets/image/6/nav_icon_alternative_unpressed.png);
	background-size: 19px 18px;
	min-height: 18px;
	min-width: 19px;
	right: 535px;
	padding-left: 29px;
	color: #333333;
	cursor: pointer;
}

#banner .investing-selected {
	background-image: url(assets/image/6/nav_icon_alternative_pressed.png);
	background-size: 19px 18px;
	min-height: 18px;
	min-width: 19px;
	right: 535px;
	padding-left: 29px;
	color: #f96700;
}

#banner .blockchain {
	background-image: url(assets/image/6/nav_icon_blockchain_unpressed.png);
	background-size: 18px 20px;
	min-height: 20px;
	min-width: 18px;
	right: 300px;
	padding-left: 28px;
	color: #333333;
	cursor: pointer;
}

#banner .blockchain-selected {
	background-image: url(assets/image/6/nav_icon_blockchain_pressed.png);
	background-size: 18px 20px;
	min-height: 20px;
	min-width: 18px;
	right: 300px;
	padding-left: 28px;
	color: #f96700;
}

#banner .career {
	background-image: url(assets/image/6/nav_icon_career_unpressed.png);
	background-size: 20px 17px;
	min-height: 17px;
	min-width: 20px;
	right: 190px;
	padding-left: 30px;
	color: #333333;
	cursor: pointer;
}

#banner .career-selected {
	background-image: url(assets/image/6/nav_icon_career_pressed.png);
	background-size: 20px 17px;
	min-height: 17px;
	min-width: 20px;
	right: 190px;
	padding-left: 30px;
	color: #f96700;
}

/* footer sytlesheet */
#footer {
	max-width: 1920px;
	height: 378px;
	background-color: #003642;
	margin: 0px auto;
	position: relative;
}

#footer .logo {
	background-image: url(assets/image/7/footer_logo.png);
	width: 39px;
	height: 34px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 64px;
	left: 0px;
}

#footer .cp-name {
	font-family: "Tahoma Bold";
	font-size: 24px;
	color: #ffffff;
	opacity: 0.8;
	left: 55px;
	top: 60px;
	position: absolute;
}

#footer .content {
	font-family: "Century Gothic";
	font-size: 14px;
	color: #ffffff;
	opacity: 0.8;
	left: 0px;
	top: 104px;
	position: absolute;
	text-align: left;
}

#footer .split-line {
	width: 1px;
	height: 230px;
	top: 64px;
	position: absolute;
	background-color: #ffffff;
	opacity: 0.5;
}

#footer .line1 { left: 645px; }
#footer .line2 { left: 830px; }

#footer .outlink {
	background-repeat: no-repeat;
	background-position: left;
	position: absolute;
	text-align: left;
	font-family: "Century Gothic";
	font-size: 14px;
	color: #ffffff;
	left: 670px;
}

#footer .ol-wc {
	background-image: url(assets/image/7/footer_licon_weixin.png);
	background-size: 30px 24px;
	min-height: 24px;
	min-width: 30px;
	padding-left: 50px;
	top: 64px;
}

#footer .ol-wc-gpex {
	background-image: url(assets/image/5/icon_weixin.png);
	background-size: 30px 24px;
	min-height: 24px;
	min-width: 30px;
	padding-left: 50px;
	top: 64px;
}

#footer .ol-wb {
	background-image: url(assets/image/7/footer_licon_weibo.png);
	background-size: 29px 23px;
	min-height: 23px;
	min-width: 29px;
	padding-left: 49px;
	top: 115px;
}

#footer .ol-wb-gpex {
	background-image: url(assets/image/5/icon_weibo.png);
	background-size: 29px 23px;
	min-height: 23px;
	min-width: 29px;
	padding-left: 49px;
	top: 115px;
}

#footer .ol-fb {
	background-image: url(assets/image/7/facebook.png);
	background-size: 26px 26px;
	min-height: 26px;
	min-width: 26px;
	padding-left: 46px;
	top: 170px;
}

#footer .ol-fb-gpex {
	background-image: url(assets/image/5/icon_facebook.png);
	background-size: 26px 26px;
	min-height: 26px;
	min-width: 26px;
	padding-left: 46px;
	top: 170px;
}

#footer .ol-tw {
	background-image: url(assets/image/7/footer_licon_twitter.png);
	background-size: 28px 23px;
	min-height: 23px;
	min-width: 28px;
	padding-left: 48px;
	top: 220px;
}

#footer .ol-tw-gpex {
	background-image: url(assets/image/5/icon_twitter.png);
	background-size: 28px 23px;
	min-height: 23px;
	min-width: 28px;
	padding-left: 48px;
	top: 220px;
}

#footer .ol-yt {
	background-image: url(assets/image/7/footer_licon_Youtube.png);
	background-size: 28px 21px;
	min-height: 21px;
	min-width: 28px;
	padding-left: 48px;
	top: 275px;
}

#footer .ol-yt-gpex {
	background-image: url(assets/image/5/icon_youtube.png);
	background-size: 28px 21px;
	min-height: 21px;
	min-width: 28px;
	padding-left: 48px;
	top: 275px;
}

#footer .innerlink {
	position: absolute;
	text-align: left;
	font-family: "Century Gothic";
	font-size: 14px;
	color: #ffffff;
	opacity: 0.8;
	left: 855px;
}

#footer .il-home { top: 64px; }
#footer .il-research { top: 115px; }
#footer .il-investing { top: 170px; }
#footer .il-blockchain { top: 220px; }
#footer .il-career { top: 275px; }

/* investing.php stylesheet */
#investing { height: 1938px; }

#investing .header {
	background-image: url(assets/image/2/Alternative_banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 550px;
	margin: 0px auto;
}

#investing .s1 {
	height: 280px;
	max-width: 1920px;
	background-color: #e2edef;
	margin: 0px auto;
}

#investing .s2 {
	height: 508px;
	max-width: 1920px;
	margin: 0px auto;
}

#investing .s3 {
	height: 600px;
	max-width: 1920px;
	background-color: #eaf2f4;
	margin: 0px auto;
}

#investing .header-title {
	font-family: "Century Gothic";
	font-size: 72px;
	color: #ffffff;
	position: absolute;
	top: 178px;
	left: 0px;
	text-align: left;
}

#investing .header-content {
	font-family: "Georgia";
	font-size: 22px;
	color: #ffffff;
	position: absolute;
	top: 297px;
	left: 390px;
	text-align: left;
}

#investing .s1-text {
	font-family: "Georgia";
	font-size: 18px;
	color: #333333;
	width: 100%;
	left: 0px;
	top: 130px;
	position: absolute;
	text-align: left;
}

#investing .s2-text {
	font-family: "Georgia";
	font-size: 18px;
	color: #333333;
	width: 50%;
	left: 0px;
	top: 170px;
	position: absolute;
	text-align: left;
}

#investing .s2-image {
	background-image: url(assets/image/2/Alternative_logo.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 424px;
	height: 313px;
	position: absolute;
	right: 0px;
	top: 130px;
}

#investing .live-event-image {
	background-repeat: no-repeat;
	background-position: center;
	width: 208px;
	height: 278px;
	position: absolute;
}

#investing .scrollrect {
	width: 868px;
	height: 278px;
	position: absolute;
	overflow: hidden;
	top: 240px;
	left: 78px;
}

#investing .arrow {
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 26px;
	height: 40px;
	top: 340px;
}

#investing .leftarrow {
	background-image: url(assets/image/2/Live_Events_arrow_left.png);
	left: 0px;
}

#investing .rightarrow {
	background-image: url(assets/image/2/Live_Events_arrow_right.png);
	right: 0px;
}

/* gpex.php stylesheet */
#gpex {	
	height: 3235px; 
	width: 1920px;
}

#gpex .header {
	background-image: url(assets/image/5/banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 551px;
	margin: 0px auto;
	position: relative;
}

#gpex .s1 {
	background-image: url(assets/image/5/bg1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 504px;
	margin: 0px auto;
	position: relative;
}

#gpex .s2 {
	background-image: url(assets/image/5/bg2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 649px;
	margin: 0px auto;
	position: relative;
}

#gpex .s3 {
	height: 882px;
	max-width: 1920px;
	margin: 0px auto;
	position: relative;
}

#gpex .s4 {
	background-image: url(assets/image/5/bg3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 649px;
	margin: 0px auto;
	position: relative;
}

#gpex .header-border1 {
	position: absolute;
	left: 0px;
	top: 14px;
	height: 537px;
	width: 15px;
	background-color: #c4c31d;
}

#gpex .header-border2 {
	position: absolute;
	left: 0px;
	top: 14px;
	height: 2px;
	width: 100%;
	background-color: #c4c31d;
}

#gpex .header-title {
	font-family: "Georgia";
	font-size: 48px;
	color: #ffffff;
	position: absolute;
	top: 178px;
	left: 195px;
	text-align: left;
}

#gpex .header-content {
	font-family: "Georgia";
	font-size: 30px;
	color: #ffffff;
	position: absolute;
	top: 275px;
	left: 255px;
	text-align: left;
}

#gpex .s1-border1 {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 48px;
	width: 15px;
	background-color: #3e4d53;
}

#gpex .s1-border2 {
	position: absolute;
	left: 0px;
	top: 48px;
	height: 2px;
	width: 715px;
	background-color: #3e4d53;
}

#gpex .s1-border3 {
	position: absolute;
	left: 1205px;
	top: 48px;
	height: 2px;
	width: 715px;
	background-color: #3e4d53;
}

#gpex .s1-border4 {
	position: absolute;
	right: 0px;
	top: 48px;
	height: 456px;
	width: 15px;
	background-color: #3e4d53;
}

#gpex .s1-title {
	position: absolute;
	width: 490px;
	top: 28px;
	left: 715px;
	font-family: "Century Gothic";
	font-size: 30px;
	color: #333333;
}

#gpex .s1-content {
	position: absolute;
	width: 550px;
}

#gpex .s1-content-1 {
	top: 132px;
	left: 396px;
}

#gpex .s1-content-2 {
	top: 245px;
	left: 396px;
}

#gpex .s1-content-3 {
	top: 378px;
	left: 396px;
}

#gpex .s1-content-4 {
	top: 132px;
	left: 1010px;
}

#gpex .s1-content-5 {
	top: 245px;
	left: 1010px;
}

#gpex .s1-icon {
	background-image: url(assets/image/5/icon1.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 38px;
	height: 43px;
	position: absolute;
	left: 0px;
	top: 0px;
}

#gpex .s1-content-text {
	width: 100%;
	padding-left: 68px;
	left: 0px;
	top: 0px;
	position: absolute;
	font-family: "Georgia";
	font-size: 20px;
	color: #333333;
	text-align: left;
}

#gpex .s2-border1 {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 48px;
	width: 15px;
	background-color: #c4c31d;
}

#gpex .s2-border2 {
	position: absolute;
	right: 0px;
	top: 48px;
	height: 2px;
	width: 715px;
	background-color: #c4c31d;
}

#gpex .s2-border3 {
	position: absolute;
	left: 0px;
	top: 48px;
	height: 2px;
	width: 715px;
	background-color: #c4c31d;
}

#gpex .s2-border4 {
	position: absolute;
	left: 0px;
	top: 48px;
	height: 601px;
	width: 15px;
	background-color: #c4c31d;
}

#gpex .s2-title {
	position: absolute;
	width: 490px;
	top: 28px;
	left: 715px;
	font-family: "Century Gothic";
	font-size: 30px;
	color: #ffffff;
}

#gpex .s2-content {
	position: absolute;
	width: 550px;
}

#gpex .s2-content-1 {
	top: 135px;
	left: 392px;
}

#gpex .s2-content-2 {
	top: 315px;
	left: 392px;
}

#gpex .s2-content-3 {
	top: 135px;
	left: 1000px;
}

#gpex .s2-content-4 {
	top: 315px;
	left: 1000px;
}

#gpex .s2-icon {
	background-image: url(assets/image/5/icon_compliance.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 43px;
	height: 42px;
	position: absolute;
	left: 0px;
	top: 0px;
}

#gpex .s2-content-text {
	width: 100%;
	padding-left: 68px;
	left: 0px;
	top: 0px;
	position: absolute;
	font-family: "Georgia";
	font-size: 20px;
	color: #ffffff;
	text-align: left;
}

#gpex .s2-sub-content {
	width: 557px;
	position: absolute;
	left: 68px;
}

#gpex .s2-sub-content-1 { top: 140px; }
#gpex .s2-sub-content-2 { top: 225px; }

#gpex .s2-sub-content-text {
	width: 100%;
	padding-left: 27px;
	left: 0px;
	top: 0px;
	position: absolute;
	font-family: "Georgia";
	font-size: 20px;
	color: #ffffff;
	text-align: left;
}

#gpex .s2-sub-content-icon {
	background-image: url(assets/image/5/icon_circle.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 14px;
	height: 14px;
	position: absolute;
	top: 10px;
}

#gpex .s3-border1 {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 48px;
	width: 15px;
	background-color: #3e4d53;
}

#gpex .s3-border2 {
	position: absolute;
	left: 0px;
	top: 48px;
	height: 2px;
	width: 715px;
	background-color: #3e4d53;
}

#gpex .s3-border3 {
	position: absolute;
	left: 1205px;
	top: 48px;
	height: 2px;
	width: 715px;
	background-color: #3e4d53;
}

#gpex .s3-border4 {
	position: absolute;
	right: 0px;
	top: 48px;
	height: 1872px;
	width: 15px;
	background-color: #3e4d53;
}

#gpex .s3-title {
	position: absolute;
	width: 490px;
	top: 28px;
	left: 715px;
	font-family: "Century Gothic";
	font-size: 30px;
	color: #333333;
}

#gpex .s3-content {
	position: absolute;
	width: 600px;
}

#gpex .s3-content-1 {
	top: 150px;
	left: 308px;
}

#gpex .s3-content-2 {
	top: 425px;
	left: 308px;
}

#gpex .s3-content-3 {
	top: 658px;
	left: 308px;
}

#gpex .s3-content-4 {
	top: 150px;
	left: 984px;
}

#gpex .s3-content-5 {
	top: 425px;
	left: 984px;
}

#gpex .s3-icon-professionalism {
	background-image: url(assets/image/5/icon_professionalism.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 0px;
	top: 15px;
}

#gpex .s3-icon-ability {
	background-image: url(assets/image/5/icon_high_ability.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 80px;
	height: 80px;
	left: 0px;
	top: 15px;
}

#gpex .s3-icon-cooperation {
	background-image: url(assets/image/5/icon_cooperation.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 100px;
	height: 64px;
	left: 0px;
	top: 15px;
}

#gpex .s3-icon-experience {
	background-image: url(assets/image/5/icon_rich_experience.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 80px;
	height: 80px;
	left: 0px;
	top: 15px;
}

#gpex .s3-icon-market {
	background-image: url(assets/image/5/icon_market_insights.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 100px;
	height: 66px;
	left: 0px;
	top: 15px;
}

#gpex .s3-content-title {
	width: 100%;
	padding-left: 120px;
	position: absolute;
	text-align: left;
	top: 0px;
	left: 0px;
	font-family: "Century Gothic";
	font-size: 22px;
	color: #333333;
}

#gpex .s3-line {
	height: 2px;
	width: 340px;
	position: absolute;
	top: 40px;
	left: 120px;
	background-color: #3e4d53;
}

#gpex .s3-content-text {
	width: 100%;
	padding-left: 120px;
	left: 0px;
	top: 60px;
	position: absolute;
	font-family: "Georgia";
	font-size: 20px;
	color: #333333;
	text-align: left;
}

#gpex .s4-border1 {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 48px;
	width: 15px;
	background-color: #c4c31d;
}

#gpex .s4-border2 {
	position: absolute;
	right: 0px;
	top: 48px;
	height: 2px;
	width: 715px;
	background-color: #c4c31d;
}

#gpex .s4-border3 {
	position: absolute;
	left: 0px;
	top: 48px;
	height: 2px;
	width: 715px;
	background-color: #c4c31d;
}

#gpex .s4-border4 {
	position: absolute;
	left: 0px;
	top: 48px;
	height: 601px;
	width: 15px;
	background-color: #c4c31d;
}

#gpex .s4-border5 {
	position: absolute;
	left: 0px;
	top: 646px;
	height: 3px;
	width: 100%;
	background-color: #c4c31d;
}

#gpex .s4-title {
	position: absolute;
	width: 490px;
	top: 28px;
	left: 715px;
	font-family: "Century Gothic";
	font-size: 30px;
	color: #ffffff;
}

#gpex .s4-content {
	position: absolute;
	width: 1200px;
	left: 368px;
}

#gpex .s4-content-1 { top: 120px; }
#gpex .s4-content-2 { top: 515px; }

#gpex .s4-content-icon {
	background-image: url(assets/image/5/icon2.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 42px;
	height: 42px;
	left: 0px;
	top: 0px;
}

#gpex .s4-content-text {
	width: 100%;
	padding-left: 80px;
	left: 0px;
	top: 5px;
	position: absolute;
	font-family: "Georgia";
	font-size: 20px;
	color: #ffffff;
	text-align: left;
}

#gpex .s4-sub-content {
	position: absolute;
	width: 1120px;
	left: 80px;
}

#gpex .s4-sub-content-icon {
	background-image: url(assets/image/5/icon_circle.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 14px;
	height: 14px;
	position: absolute;
	top: 10px;
}

#gpex .s4-sub-content-1 { top: 70px; }
#gpex .s4-sub-content-2 { top: 155px; }
#gpex .s4-sub-content-3 { top: 205px; }
#gpex .s4-sub-content-4 { top: 260px; }
#gpex .s4-sub-content-5 { top: 315px; }

#gpex .s4-sub-content-text {
	width: 100%;
	padding-left: 25px;
	left: 0px;
	top: 0px;
	position: absolute;
	font-family: "Georgia";
	font-size: 20px;
	color: #ffffff;
	text-align: left;
}

/* research.php stylesheet */
#research { height: 4177px; }

#research .header {
	background-image: url(assets/image/1/banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 550px;
	margin: 0px auto;
}

#research .s1 {
	height: 240px;
	max-width: 1920px;
	background-color: #e1edef;
	margin: 0px auto;
}

#research .s2 {
	background-image: url(assets/image/1/bg.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 769px;
	margin: 0px auto;
}

#research .s3 {
	height: 394px;
	max-width: 1920px;
	background-color: #f2f6f7;
	margin: 0px auto;
}

#research .s4 {
	height: 1030px;
	max-width: 1920px;
	background-color: #ffffff;
	margin: 0px auto;
}

#research .s5 {
	height: 1194px;
	max-width: 1920px;
	background-color: #d9e6e8;
	margin: 0px auto;
}

#research .header-title {
	font-family: "Century Gothic";
	font-size: 72px;
	color: #ffffff;
	position: absolute;
	top: 194px;
	left: 0px;
	text-align: left;
}

#research .header-content {
	font-family: "Georgia";
	font-size: 22px;
	color: #ffffff;
	position: absolute;
	top: 305px;
	padding-left: 450px;
	width: 100%;
	text-align: left;
}

#research .section-title {
	height: 40px;
	width: 100%;
	position: absolute;
}

#research .section-title-mark {
	background-image: url(assets/image/1/line_green.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: 7px;
	height: 25px;
	position: absolute;
	top: 5px;
	left: 0px;
}

#research .section-title-line {
	height: 1px;
	width: 100%;
	position: absolute;
	bottom: 1px;
	left: 0px;
	background-color: #acacac;
}

#research .section-title-text {
	font-family: "Georgia";
	font-size: 24px;
	color: #333333;
	position: absolute;
	top: 0px;
	left: 0px;
	padding-left: 22px;
}

#research .s1-text {
	width: 100%;
	font-family: "Georgia";
	font-size: 18px;
	color: #333333;
	position: absolute;
	top: 130px;
	text-align: left;
}

#research .s2-btn {
	background-repeat: no-repeat;
	background-position: right;
	width: 205px;
	height: 54px;
	position: absolute;
	right: 859px;
	cursor: pointer;
	display: table;
}

#research .s2-btn-text {
	display: table-cell;
	vertical-align: middle;
	font-family: "Georgia";
	font-size: 18px;
	color: #333333;
	padding-left: 70px;
	height: 100%;
	width: 100%;
	text-align: left;
}

#research .s2-chart-mm {
	background-image: url(assets/image/1/chart_MOMO.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 821px;
	height: 543px;
	position: absolute;
	top: 153px;
	left: 217px;
}

#research .s2-chart-yy {
	background-image: url(assets/image/1/chart_YY.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 832px;
	height: 543px;
	position: absolute;
	top: 153px;
	left: 217px;
}

#research .s2-chart-tx {
	background-image: url(assets/image/1/chart_Tencent.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 825px;
	height: 543px;
	position: absolute;
	top: 153px;
	left: 217px;
}

#research .s2-chart-ne {
	background-image: url(assets/image/1/chart_NetEase.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 817px;
	height: 543px;
	position: absolute;
	top: 153px;
	left: 217px;
}

#research .s2-line {
	width: 1px;
	height: 534px;
	position: absolute;
	background-color: #a0a0a0;
	top: 152px;
	left: 164px;
}

#research .s3-icon {
	background-image: url(assets/image/1/pic1.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 357px;
	height: 270px;
	position: absolute;
	top: 71px;
	left: 0px;
}

#research .s3-title {
	font-family: "Century Gothic";
	font-size: 24px;
	color: #333333;
	position: absolute;
	top: 80px;
	left: 430px;
}

#research .s3-mark {
	width: 116px;
	height: 7px;
	background-color: #006478;
	position: absolute;
	top: 125px;
	left: 430px;
}

#research .s3-line {
	width: 594px;
	height: 1px;
	background-color: #a4a8a9;
	position: absolute;
	top: 131px;
	left: 430px;
}

#research .s3-text {
	width: 594px;
	font-family: "Georgia";
	font-size: 18px;
	color: #333333;
	position: absolute;
	top: 155px;
	text-align: left;
	left: 430px;
}

#research .s4-container {
	width: 300px;
	position: absolute;
}

#research .s4c1 { left: 0px; top: 210px; }
#research .s4c2 { left: 364px; top: 155px; }
#research .s4c3 { right: 0px; top: 210px; }

#research .s4c1-icon {
	background-image: url(assets/image/1/pic2.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 150px;
	position: absolute;
	top: 50px;
	left: 0px;
}

#research .s4c2-icon {
	background-image: url(assets/image/1/pic3.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 238px;
	position: absolute;
	top: 470px;
	left: 0px;
}

#research .s4c3-icon {
	background-image: url(assets/image/1/pic4.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 247px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#research .s4-title {
	font-family: "Century Gothic";
	font-size: 24px;
	color: #333333;
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0px;
}

#research .s4-line {
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0px;
	background-color: #adadad; 
}

#research .s4-mark {
	width: 116px;
	height: 7px;
	left: 92px;
	position: absolute;
}

#research .s4-text {
	width: 100%;
	font-family: "Georgia";
	font-size: 18px;
	color: #333333;
	position: absolute;
	text-align: left;
	left: 0px;
}

#research .s5-title {
	font-family: "Century Gothic";
	font-size: 24px;
	color: #333333;
	position: absolute;
	text-align: center;
	left: 0px;
}

#research .s5-line {
	width: 478px;
	height: 1px;
	position: absolute;
	left: 0px;
	background-color: #adadad;
}

#research .s5-mark {
	height: 7px;
	background-color: #006478;
	position: absolute;
	left: 0px;
}

#research .s5-icon1 {
	background-image: url(assets/image/1/pic5.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 242px;
	height: 221px;
	position: absolute;
	left: 0px;
	top: 163px;
}

#research .s5-icon2 {
	background-image: url(assets/image/1/pic6.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 298px;
	height: 377px;
	position: absolute;
	right: 0px;
	top: 366px;
}

#research .s5-icon3 {
	background-image: url(assets/image/1/pic7.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 318px;
	height: 270px;
	position: absolute;
	left: 0px;
	top: 816px;
}

#research .s5-text {
	font-family: "Georgia";
	font-size: 18px;
	color: #333333;
	position: absolute;
	text-align: left;
	left: 0px;
}

/* career.php stylesheet */
#career { height: 3398px; }

#career .header {
	background-image: url(assets/image/4/Career_banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 550px;
	margin: 0px auto;
	position: relative;
}

#career .s1 {
	background-image: url(assets/image/4/Career_expects_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 241px;
	margin: 0px auto;
	position: relative;
}

#career .s2 {
	background-image: url(assets/image/4/Career_path_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 412px;
	margin: 0px auto;
	position: relative;
}

#career .s3 {
	height: 214px;
	max-width: 1920px;
	background-color: #a1bfc6;
	margin: 0px auto;
	position: relative;
}

#career .s4 {
	background-image: url(assets/image/4/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 280px;
	margin: 0px auto;
	position: relative;
}

#career .s5 {
	height: 925px;
	max-width: 1920px;
	background-color: #aaaaaa;
	margin: 0px auto;
	position: relative;
}

#career .s6 {
	max-width: 1920px;
	background-color: #eeeeee;
	margin: 0px auto;
	position: relative;
	height: 776px;
}

#career .header-title {
	font-family: "Century Gothic";
	font-size: 72px;
	color: #ffffff;
	position: absolute;
	top: 137px;
	left: 0px;
	text-align: left;
}

#career .header-line {
	width: 100%;
	height: 1px;
	background-color: #ffffff;
	position: absolute;
	left: 0px;
	top: 250px;
}

#career .header-btn {
	background-image: url(assets/image/4/button_apply_now.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 66px;
	width: 207px;
	right: 0px;
	top: 285px;
	margin: 0px auto;
	position: absolute;
	display: table;
	cursor: pointer;
}

#career .header-btn-text {
	font-family: "Century Gothic";
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	display: table-cell;
}

#career .section-mark {
	width: 8px;
	height: 25px;
	position: absolute;
	left: 0px;
}

#career .section-title {
	font-family: "Georgia";
	font-size: 24px;
	padding-left: 22px;
	position: absolute;
	left: 0px;
	text-align: left;
}

#career .section-line {
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0px;
}

#career .s1-text {
	font-family: "Georgia";
	font-size: 18px;
	color: #333333;
	left: 0px;
	position: absolute;
	top: 120px;
	text-align: left;
}

#career .s2-image {
	background-image: url(assets/image/4/Career_path_line.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 245px;
	width: 1024px;
	left: 0px;
	top: 124px;
	position: absolute;
}

#career .s2-point {
	background-image: url(assets/image/4/Career_path_circle_organe.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 8px;
	width: 8px;
	top: 243px;
	position: absolute;
	opacity: 0;
}

#career .s2-line {
	width: 1px;
	height: 40px;
	position: absolute;
	background-color: #333333;
	opacity: 0;
}

#career .s2-sp {
	width: 5px;
	height: 5px;
	position: absolute;
	border-radius: 2px;
	background-color: #333333;
	opacity: 0;
}

#career .s2-text {
	font-family: "Century Gothic";
	color: #333333;
	text-align: center;
	position: absolute;
	opacity: 0;
}

#career .s3-icon {
	background-image: url(assets/image/4/icon_letter.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 50px;
	width: 74px;
	left: 0px;
	top: 44px;
	position: absolute;
}

#career .s3-text {
	font-family: "Georgia";
	font-size: 18px;
	color: #333333;
	left: 0px;
	position: absolute;
	top: 44px;
	text-align: left;
	padding-left: 102px;
}

#career .s3-line {
	width: 922px;
	height: 1px;
	position: absolute;
	left: 102px;
	background-color: #75878b;
	top: 110px;
}

#career .s3-btn {
	background-image: url(assets/image/4/button_email_gray.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 40px;
	width: 248px;
	left: 102px;
	top: 130px;
	margin: 0px auto;
	position: absolute;
	display: table;
	cursor: pointer;
}

#career .s3-btn-text {
	font-family: "Century Gothic";
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	display: table-cell;
}

#career .s4-text {
	font-family: "Georgia";
	font-size: 18px;
	color: #ffffff;
	left: 0px;
	position: absolute;
	top: 120px;
	text-align: left;
}

#career .s5-frame {
	background-image: url(assets/image/4/Career_frame_white.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 750px;
	width: 358px;
	top: 130px;
	position: absolute;
}

#career .s5-icon {
	background-repeat: no-repeat;
	background-position: center;
	height: 130px;
	width: 130px;
	top: 33px;
	left: 114px;
	position: absolute;
}

#career .s5-name {
	font-family: "Century Gothic";
	font-size: 20px;
	color: #333333;
	width: 100%;
	position: absolute;
	top: 175px;
	text-align: center;
}

#career .s5-line {
	width: 255px;
	height: 1px;
	position: absolute;
	background-color: #75878b;
	top: 209px;
	left: 51px;
}

#career .s5-position {
	font-family: "Georgia";
	font-size: 20px;
	color: #333333;
	right: 95px;
	position: absolute;
	top: 215px;
	text-align: right;
}

#career .s5-linkin {
	background-image: url(assets/image/4/icon_in.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 30px;
	width: 30px;
	top: 215px;
	right: 51px;
	position: absolute;
}

#career .s5-text {
	font-family: "Georgia";
	font-size: 16px;
	color: #333333;
	left: 0px;
	position: absolute;
	top: 250px;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}

#career .s6-icon {
	background-repeat: no-repeat;
	background-position: center;
	height: 130px;
	width: 130px;
	position: absolute;
}

#career .s6-name {
	font-family: "Century Gothic";
	font-size: 20px;
	color: #333333;
	position: absolute;
}

#career .s6-line {
	width: 258px;
	height: 1px;
	position: absolute;
	background-color: #75878b;
}

#career .s6-position {
	font-family: "Georgia";
	font-size: 20px;
	color: #333333;
	position: absolute;
}

#career .s6-text {
	width: 770px;
	font-family: "Georgia";
	font-size: 16px;
	color: #333333;
	position: absolute;
}

/* index.php stylesheet */
#index { height: 3320px; }

#index .header {
	background-image: url(assets/image/0/banner1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 654px;
	margin: 0px auto;
	position: relative;
}
#index .s1 {
	background-image: url(assets/image/0/bg1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 709px;
	margin: 0px auto;
	position: relative;
}

#index .s2 {
	height: 456px;
	max-width: 1920px;
	background-color: #fcfcfc;
	margin: 0px auto;
	position: relative;
}

#index .s3 {
	height: 456px;
	max-width: 1920px;
	background-color: #006479;
	margin: 0px auto;
	position: relative;
}

#index .s4 {
	background-image: url(assets/image/0/bg2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 481px;
	margin: 0px auto;
	position: relative;
}

#index .s5 {
	height: 564px;
	max-width: 1920px;
	background-color: rgb(238, 238, 238);
	margin: 0px auto;
	position: relative;
}

#index .header-title {
	font-family: "Century Gothic";
	font-size: 73px;
	color: #ffffff;
	position: absolute;
	top: 230px;
	left: 0px;
	text-align: left;
}

#index .header-text {
	font-family: "Georgia";
	font-size: 26px;
	color: #ffffff;
	position: absolute;
	top: 370px;
	width: 100%;
	padding-left: 210px;
	text-align: left;
}

#index .s {
	width: 100%;
	height: 50px;
	position: absolute;
	left: 0px;
}

#index .s-icon {
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}

#index .s-title {
	font-family: "Georgia Italic";
	font-size: 24px;
	position: absolute;
	width: 100%;
	padding-left: 60px;
	text-align: left;
	left: 0px;
}

#index .s-line {
	width: 100%;
	position: absolute;
	top: 49px;
	height: 1px;
	background-color: #acacac;
}

#index .s-arrow {
	width: 34px;
	height: 16px;
	position: absolute;
	right: 0px;
	top: 10px;
}

#index .s-lm {
	font-family: "Georgia";
	font-size: 18px;
	position: absolute;
	top: 5px;
	right: 44px;
	text-align: left;
}

#index .circle {
	background-repeat: no-repeat;
	background-position: center;
	width: 14px;
	height: 14px;
	position: absolute;
	top: 380px;
	cursor: pointer;
}

#index .s1-frame {
	background-repeat: no-repeat;
	background-position: center;
	height: 553px;
	width: 337px;
	top: 80px;
	position: absolute;
}

#index .s1-title {
	font-family: "Georgia";
	font-size: 24px;
	color: #333333;
	position: absolute;
	top: 240px;
	width: 100%;
	padding-left: 10px;
	text-align: center;
}

#index .s1-text {
	font-family: "Georgia";
	font-size: 18px;
	color: #333333;
	position: absolute;
	top: 285px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
}

#index .s2-container {
	width: 1024px;
	height: 456px;
	position: relative;
	overflow: hidden;
}

#index .s2-frame {
	width: 1024px;
	height: 456px;
	position: absolute;
	top: 0px;
	display: none;
}

#index .s3-container {
	width: 1024px;
	height: 456px;
	position: relative;
	overflow: hidden;
}

#index .s3-frame {
	width: 1024px;
	height: 456px;
	position: absolute;
	top: 0px;
	display: none;
}

#index .s4-frame {
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 242px;
	height: 283px;
	top: 130px;
}

#index .s4-mark {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(assets/image/0/icon_chain.png);
	position: absolute;
	width: 54px;
	height: 23px;
	top: 240px;
}

#index .s4-icon1 {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(assets/image/0/icon_decentralization.png);
	position: absolute;
	width: 144px;
	height: 179px;
	top: 10px;
	left: 49px;
}

#index .s4-icon2 {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(assets/image/0/icon_openness.png);
	position: absolute;
	width: 140px;
	height: 81px;
	top: 56px;
	left: 51px;
}

#index .s4-icon3 {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(assets/image/0/icon_Ecosystem.png);
	position: absolute;
	width: 113px;
	height: 123px;
	top: 35px;
	left: 65px;
}

#index .s4-title {
	font-family: "Georgia Bold";
	font-size: 24px;
	color: #333333;
	position: absolute;
	top: 170px;
	left: 0px;
	width: 100%;
	text-align: center;
}

#index .s4-text {
	font-family: "Georgia";
	font-size: 18px;
	color: #333333;
	position: absolute;
	top: 210px;
	left: 0px;
	width: 100%;
	text-align: center;
}

#index .s4-right-1 {
	height: 65px;
	width: 100%;
	display: table;
	position: relative;
}

#index .s4-right-2 {
	height: 108px;
	width: 100%;
	position: relative;
	cursor: pointer;
}

#index .s4-right-3 {
	height: 106px;
	width: 100%;
	position: relative;
	margin-top: 4px;
	cursor: pointer;
}

#index .s4r1 {
	display: table-cell;
	width: 100%;
	height: 100%;
	font-family: "Georgia Bold";
	font-size: 24px;
	color: #333333;
	text-align: center;
	vertical-align: middle;
}

#index .s4r2 {
	width: 142px;
	height: 100%;
	font-family: "Georgia";
	font-size: 24px;
	color: #333333;
	text-align: left;
	padding-left: 100px;
	position: absolute;
	left: 0px;
	top: 35px;
}

#index .s4r3 {
	width: 142px;
	height: 100%;
	font-family: "Georgia";
	font-size: 24px;
	color: #333333;
	text-align: left;
	padding-left: 100px;
	position: absolute;
	left: 0px;
	top: 30px;
}

#index .s4r2-icon {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(assets/image/0/icon_GPEX.png);
	position: absolute;
	width: 44px;
	height: 48px;
	top: 30px;
	left: 35px;
}

#index .s4r3-icon {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(assets/image/0/icon_livecoins.png);
	position: absolute;
	width: 46px;
	height: 47px;
	top: 25px;
	left: 35px;
}

#index .s5-up-arrow {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(assets/image/0/arraw_font.png);
	position: absolute;
	width: 40px;
	height: 26px;
	top: 140px;
	left: 113px;
	cursor: pointer;
}

#index .s5-down-arrow {
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(assets/image/0/arraw_bottom.png);
	position: absolute;
	width: 40px;
	height: 26px;
	top: 455px;
	left: 113px;
	cursor: pointer;
}

#index .s5-line {
	width: 1px;
	height: 340px;
	position: absolute;
	top: 140px;
	left: 133px;
	background-color: #525252;
}

#index .s5-scrollrect {
	width: 470px;
	height: 270px;
	position: absolute;
	overflow: hidden;
	overflow-x:hidden;
	top: 175px;
	left: 100px;
}

#index .s5-scroll-container {
	width: 470px;
	height: 270px;
	position: absolute;
	left: 0px;
	top: 0px;
}

#index .s5-content-frame {
	width: 433px;
	height: 359px;
	position: absolute;
	right: 0px;
	top: 140px;
}

#index .achievement-frame {
	width: 470px;
	height: 54px;
	position: absolute;
	left: 0px;
	cursor: pointer;
}

#index .achievement-label {
	background-repeat: no-repeat;
	background-position: right;
	position: absolute;
	width: 205px;
	height: 54px;
	top: 0px;
	display: table;
}

#index .achievement-label-cell {
	font-family: "Georgia";
	font-size: 18px;
	color: #333333;
	padding-left: 80px;
	text-align: left;
	vertical-align: middle;
	left: 0px;
	top: 0px;
	display: table-cell;
}

#index .achievement-label-point {
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 14px;
	height: 14px;
	left: 26px;
	top: 20px;
}

#index .achievement-label-line {
	height: 1px;
	width: 98px;
	position: absolute;
	left: 40px;
	top: 26px;
}

#index .achievement-label-year {
	font-family: "Georgia";
	font-size: 23px;
	color: #333333;
	position: absolute;
	left: 55px;
	top: -5px;
}

#index .achievement-label-round-point {
	width: 5px;
	height: 5px;
	position: absolute;
	border-radius: 2px;
	left: 134px;
	top: 24px;
}

#index .achievement-desc-frame {
	width: 315px;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	display: table;
}

#index .achievement-desc-text {
	font-family: "Georgia";
	font-size: 18px;
	text-align: left;
	vertical-align: middle;
	left: 0px;
	top: 0px;
	display: table-cell;
}

/* blockchain.php stylesheet */
#blockchain { height: 1852px; }

#blockchain .header {
	background-image: url(assets/image/3/Blockchain_banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 550px;
	margin: 0px auto;
}

#blockchain .s1 {
	height: 312px;
	max-width: 1920px;
	background-color: #e1edef;
	margin: 0px auto;
}

#blockchain .s2 {
	height: 478px;
	max-width: 1920px;
	margin: 0px auto;
}

#blockchain .s3 {
	height: 512px;
	max-width: 1920px;
	background-color: #ebf2f3;
	margin: 0px auto;
}

#blockchain .header-title {
	font-family: "Century Gothic";
	font-size: 72px;
	color: #ffffff;
	position: absolute;
	top: 178px;
	left: 0px;
	text-align: left;
}

#blockchain .header-content {
	font-family: "Georgia";
	font-size: 22px;
	color: #ffffff;
	position: absolute;
	top: 314px;
	left: 390px;
	text-align: left;
}

#blockchain .s1-text {
	font-family: "Georgia";
	font-size: 18px;
	color: #333333;
	width: 100%;
	left: 0px;
	top: 130px;
	position: absolute;
	text-align: left;
}

#blockchain .s2-frame {
	background-repeat: no-repeat;
	background-position: center;
	width: 242px;
	height: 283px;
	top: 135px;
	position: absolute;
}

#blockchain .s2-frame-1 {
	background-image: url(assets/image/3/Blockchain_advantage_pic1.jpg);
	left: 122px;
}

#blockchain .s2-frame-2 {
	background-image: url(assets/image/3/Blockchain_advantage_pic2.jpg);
	left: 391px;
}

#blockchain .s2-frame-3 {
	background-image: url(assets/image/3/Blockchain_advantage_pic3.jpg);
	left: 658px;
}

#blockchain .s2-frame-title {
	top: 170px;
	width: 100%;
	position: absolute;
	font-family: "Georgia";
	font-size: 24px;
	color: #333333;
}

#blockchain .s2-frame-content {
	top: 210px;
	width: 100%;
	position: absolute;
	font-family: "Georgia";
	font-size: 18px;
	color: #333333;
}

#blockchain .s3-frame {
	background-repeat: no-repeat;
	background-position: center;
	width: 242px;
	height: 314px;
	top: 142px;
	position: absolute;
}

#blockchain .s3-frame-1 {
	background-image: url(assets/image/3/Blockchain_application_pic1.jpg);
	left: 260px;
}

#blockchain .s3-frame-2 {
	background-image: url(assets/image/3/Blockchain_application_pic2.jpg);
	left: 525px;
}

#blockchain .s3-frame-title {
	top: 146px;
	width: 100%;
	position: absolute;
	font-family: "Georgia";
	font-size: 24px;
	color: #ffffff;
}

#blockchain .s3-frame1-content {
	top: 230px;
	width: 100%;
	position: absolute;
	font-family: "Georgia";
	font-size: 18px;
	color: #333333;
}

#blockchain .s3-frame2-content {
	top: 220px;
	width: 100%;
	position: absolute;
	font-family: "Georgia";
	font-size: 18px;
	color: #333333;
}

#blockchain .btn-lm {
	background-image: url(assets/image/3/Blockchain_button_learn_more.png);
	width: 90px;
	height: 28px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 275px;
	left: 76px;
	cursor: pointer;
}

#blockchain .btn-lm-text {
	padding-top: 3px;
	padding-bottom: 5px;
	font-family: "Georgia";
	font-size: 14px;
	color: #005960;
}